/* Background happiness image */
body, html {
  height: 100%;
  margin: 0;    
}

.bg {
  /* The image used */
  background-image: url("../images/happiness.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* padding spaces */
header, main {
  margin-top: 10px;
}

#title {
  margin-bottom: 10px;
}

.buffer {
  margin-top: 15px;
  margin-bottom: 10px;
}